
*{
    border:0;
    margin:0;
    box-sizing:border-box;
    }
     
    html,body{
    border:0;
    margin:0;
    box-sizing:border-box;   
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }
    
    
    .frame{
     display:flex;
     flex-direction:column;
     justify-content:space-between;
     align-items:center;
     height:100vh;
     position:relative;
     
    }
    .dashboard{
     width:100%;
     /*z-index:-1;*/
     
    }
    .t-menu{
     background:#4cf;
     width:100%;
     position:fixed;
     padding:1.4em;
     color:white;
     display:flex;
     justify-content:space-between;
     z-index:2;
    }
    .t-menu .menu{
    margin-right:0.5em;
    }
    
    .d-menu{
    border-right:thin solid #ddd;
    color:black;
    margin-top:4em;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    }
    .d-menu{
    position:absolute;
    top:0;
    left:0;
    width:60%;
    z-index:1;
    background:white;
    display:none;
    min-height:95%;
    transition: width 0.8s linear;

    }

    .d-menu ul{
    display:flex;
    flex-direction: column;
    padding:0em;
    justify-content:space-around;

    }

    .d-menu ul ul{
    display:none;
    background:white;
    flex-grow:1;
    justify-content: space-around;
    }

    .d-menu ul ul li{
     border-left:0.13em dotted #555;
     margin-left:0.18em;
    }
   

    .d-menu .sub-menu{
    background:white;
    padding:0;
    }

    .d-menu .brand{
    background:black;
    color:white;
    padding:1.5em;
  
    }
    .d-menu .site{
    border-bottom:0.05em solid #ddd;
    }

    .d-menu .brand:hover{
    background:black;
    }
    .d-menu li{
    display:flex;
    justify-content:flex-start;
    padding:1em;
    overflow:hidden;
    }

    .d-menu .sub-menu{
    display:flex;
    flex-grow:1;
    }

    .d-menu li span{
    width:20%;
    }
    .d-menu li span:nth-child(2){
    width:80%;

    }
    .d-menu li span a{
    color:#333;
    }

    .d-menu .site span a{
    color:rgb(18, 180, 18);
    }
    .d-menu  li:hover{
    background:#eee;
    }
    .d-content{
    background:linear-gradient(270deg,#eee,#eef);
    display:flex;
    flex-direction:column;
    padding:1.1em;
    align-items:space-around;
    
    }
    .d-content-t{
    margin-top:3.7em;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    gap:1em;
    }
    .content-t-item{
     display:flex;
     align-items:center;
     justify-content:space-between;
     color:white; 
     flex-grow:1;
     padding:0.5em;

    }

    .content-t-item:nth-child(1){
    background:linear-gradient(270deg,rgb(238, 59, 59),rgb(174, 2, 174));  
    }
    
    .content-t-item:nth-child(2){
    background:linear-gradient(270deg,skyblue,rgb(143, 143, 247));  
    }
        
    .content-t-item:nth-child(3){
    background:linear-gradient(270deg,#9c9,rgb(100, 205, 100));  
    }
    .content-t-item:nth-child(4){
    background:linear-gradient(270deg,orange,rgb(240, 71, 71));  
    }


    .d-content-m{
    margin-top:1em;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    gap:1em;
    }
    .content-m-item{
     background:white;
     flex-grow:1;
     padding:0.5em;
    }
    
    .content-m-item,.content-t-item{
     box-shadow:0px 2px 2px #aaa;
     transition: box-shadow 0.5s ease;
    }
    
    .content-m-item section{
    background:white;
    padding:0.5em;
    }
    .content-m-item section div{
    display:flex;
    justify-content: space-between;

    }

    .content-m-item section span{
     display:flex;

     }
    .content-m-item section span a{
    text-decoration:none;
    margin: 0.3em;
    color:rgb(7, 141, 194);
    font-size:1.3em;
    }
 
    .content-t-item:hover,.content-m-item:hover{
    box-shadow:6px 6px 12px #bbb;
    transition: box-shadow 0.5s ease;
    }
    
    .d-content-f{
     background:#4cf;
     padding:0.5em;
     width:100%;
     color:white;
     display:flex;
     justify-content:space-between;
    }
    
    .js-d-content{
    width:100%;
    position:fixed;
    justify-content: center;
    }

    .js-menu-show{
     display:flex;
     animation:slide 0.8s linear;
    }
    
    .js-menu-animate-hide{
    animation:hide 0.8s linear;
    }

    @keyframes slide {
    0%{
     width:5%;

    }
    50%{
    width:30%;
    }
    100%{
    width:60%;
    }

    }

    @keyframes hide{
    0%{
    width:60%;
    }
    50%{
    width:40%;
    }
    100%{

    width:0%;

    }
    }
    ul li{
    list-style:none;
    }
    
    ul a{
    text-decoration:none;
    }

    .content-t-item>div{
     display:flex;
     flex-direction:column;
     align-items:flex-start;
     width:40%;
    }

    .d-content-t p{
     padding:0.2em;
     border-radius:25px 25px;
     flex-grow:1;  
    }

     .label{
    padding:0.8em;
   
    }

    .b-purple{
    background:rgb(219, 89, 182);
    }
    .b-blue{
    background:navy;
    }
    .b-green{
    background:green;
    }

    .b-orange{
    background:rgb(255, 157, 0);
    }
    
    .text-red{
    color:rgb(249, 170, 170);
    }
    .text-blue{
    color:rgb(192, 192, 246);
    }
    section table i{
    padding-right:0.5em;
    }
    table{
    display:flex;
    flex-direction: column;
    flex-grow:1;
    }
 
    tr{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:0.2em;
    }
    td,th{
    display:flex;
   
    }
    tr:nth-child(1){
    border-bottom:0.1em solid #ddd;
    }
    tr:nth-child(even){
    background:#fff;
    }
    tr:hover{
    background:#eee;
    }
    hr{
    background:#ddd;
    padding:0.04em;
    }



    @media (min-width:600px) and (max-width:1000px){
    .d-menu{
    width:40%;
    }
    .d-content{
     width:100%;
    }
    .d-content-t{
    flex-direction:row;
    flex-wrap:wrap;
    }
    .content-t-item{
     width:48.7%;
     
    }
    
    .d-content-m{
    flex-direction:row;
    flex-wrap:wrap;
    }
    .content-m-item{
     width:48.7%;
    }

    .content-m-item section span a{
    font-size:1.1em;
    }
    
    @keyframes slide {
    0%{
     width:5%;

    }
    50%{
     width:30%;

    }
    100%{
    width:40%;
    }
    }

    @keyframes hide{
    0%{
    width:40%;
    }
    50%{
    width:25%;
    }
    100%{
    width:0%;
    }
    }


    }
    
    @media (min-width:1000px){
    
    .frame{
    align-items:flex-end;
    }
    .dashboard{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    flex-direction:column;
    align-items:center;
  
    }
    
    .d-menu{

    width:18%;
    }
    .d-content{
    width:100%;
    }
    
    .d-content-t{
     flex-direction:row;
     flex-wrap:wrap;
     justify-content: space-between;

    }
    
    .content-t-item{
     width:23.6%;
     
    }
    
    .d-content-m{
    flex-direction:row;
    flex-wrap:wrap;
    }
    .content-m-item{
     width:49.1%;
    }
    
    .js-d-content{
    width:82%;
    justify-content: flex-end;
    position:fixed;
    animation:receed 0.8s linear;
    }
 
    @keyframes receed {
    0%{
     width:100%;
    }
     
    50%{
    width:100%;
    }
    100%{
    width:82%;
    }
            
    }
    @keyframes slide {
    0%{
     width:6%;
    
     }
    50%{
     width:14%;
    
    }
    100%{
     width:18%;
    }
        
    }


    @keyframes hide{
    0%{
    width:18%;
    }
    50%{
    width:12%;
    }
    100%{
    width:0%;

    }
    }

    }
    
    
    
    
    
    